## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [2]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df = pd.read_csv("../data/processed/shopping_cleaned.csv")

<bound method NDFrame.head of        Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
0     31.0    Male       Leggings              24.231704        Nevada    M
1     38.0    Male     Sunglasses              36.545487        Oregon    S
2     26.0    Male       Leggings              23.595139        Nevada   XL
3     43.0    Male          Dress              34.079015    California    M
4     29.0    Male         Shorts              23.796439     Minnesota    M
...    ...     ...            ...                    ...           ...  ...
3153  39.0    Male  Running Shoes              55.636680        Kansas    L
3154  43.0  Female     Sunglasses              61.610602      Colorado    S
3155  37.0    Male        Pajamas              44.600556        Alaska    S
3156  39.0    Male         Hoodie              45.343778      Illinois    S
3157  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
0      Terra cotta  Winter       Present        Standard              No
1        Aubergine  Summer       Missing        Standard              No
2            Brown  Winter       Missing        Standard              No
3      Terra cotta    Fall       Present        Standard              No
4         Lavender  Summer       Present         Express              No
...            ...     ...           ...             ...             ...
3153         White  Summer       Missing  2-Day Shipping             Yes
3154  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3155     Aubergine  Winter       Present  2-Day Shipping             Yes
3156     Brick red    Fall       Missing  2-Day Shipping             Yes
3157     Aubergine  Winter       Present  2-Day Shipping             Yes

      Previous Purchases Payment Method
0                      0    Credit Card
1                      0    Credit Card
2                      3    Credit Card
3                      0    Credit Card
4                      0    Credit Card
...                  ...            ...
3153                  11          Venmo
3154                   7          Venmo
3155                  20          Venmo
3156                   3          Venmo
3157                   2          Venmo

[3158 rows x 13 columns]>

In [3]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

pivot_table = pd.pivot_table(df, values='Location', index='Color', columns='Season', aggfunc=len, fill_value=0)

In [4]:
# TODO: Display this pivot table

print(pivot_table)

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [5]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

fall_sort = pivot_table['Fall'].sort_values(ascending=False)
print(fall_sort)

Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [6]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

winter_sort = pivot_table['Winter'].sort_values(ascending=False)
print(winter_sort)

Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [7]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

spring_sort = pivot_table['Spring'].sort_values(ascending=False)
print(spring_sort)

Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [8]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

summer_sort = pivot_table['Summer'].sort_values(ascending=False)
print(summer_sort)

Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [60]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index_per_column = pivot_table.idxmax()
print(max_index_per_column)

Season
Fall          Brown
Spring    Baby blue
Summer     Lavender
Winter        Black
dtype: object

In [61]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

new_pivot_table = pd.pivot_table(df, values='Location', index='Item Purchased', columns='Season', aggfunc=len, fill_value=0)
print (new_pivot_table)

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack          72       0       0     113
Belt              25       0       0       0
Boots             51       0       0      83
Dress             36      74     118       0
Gloves            68       0       0     112
Handbag           31      78     111       0
Hoodie            58       0       0     105
Jacket            47       0       0      87
Jeans             46       0       0       0
Leggings          58       0       0     118
Pajamas           65       0       0     111
Running Shoes     25      89     134       0
Scarf             56       0       0     101
Shorts            31      76     152       0
Socks             71       0       0     101
Sunglasses        43      80     135       0
Sweater           72       0       0     113
T-shirt           17      80     115       0

In [62]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index_per_column = new_pivot_table.idxmax()
print(max_index_per_column)

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

In [12]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

promo_users = df[df['Promo Code Used'] == 'Yes']
non_promo_users = df[df['Promo Code Used'] == 'No']

In [13]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

promo_users.shape

(1373, 13)

In [14]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

promo_users['Purchase Amount (USD)'].mean()

50.06747998236351

In [15]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

non_promo_users.shape

(1785, 13)

In [16]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

non_promo_users['Purchase Amount (USD)'].mean()

30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Users who use promo codes spend more than those that don't use promo codes.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Use of a promo code does not have an effect on the dollar amount spent by users.

In [23]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

t_statistic, p_value = stats.ttest_ind(promo_users['Purchase Amount (USD)'], non_promo_users['Purchase Amount (USD)'], equal_var=False)

In [64]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_review = df.groupby('Review Rating')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F14EB00DF0>

In [63]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

keys = g_review.groups.keys()
print("Keys:", keys)

Keys: dict_keys(['Missing', 'Present'])

In [41]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

g_review[['Purchase Amount (USD)', 'Age', 'Previous Purchases']].mean()

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
Missing                    38.923623  34.080198            5.344059
Present                    38.615947  34.371705            6.778559

In [114]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

df['Prev Purchase Group'] = pd.cut(df['Previous Purchases'], bins=bins, labels=labels, right=False)
bins = [float('-inf'), 2, float('inf')]
labels = ["Low", "High"]

       Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
0     31.0    Male       Leggings              24.231704        Nevada    M
1     38.0    Male     Sunglasses              36.545487        Oregon    S
2     26.0    Male       Leggings              23.595139        Nevada   XL
3     43.0    Male          Dress              34.079015    California    M
4     29.0    Male         Shorts              23.796439     Minnesota    M
...    ...     ...            ...                    ...           ...  ...
3153  39.0    Male  Running Shoes              55.636680        Kansas    L
3154  43.0  Female     Sunglasses              61.610602      Colorado    S
3155  37.0    Male        Pajamas              44.600556        Alaska    S
3156  39.0    Male         Hoodie              45.343778      Illinois    S
3157  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
0      Terra cotta  Winter       Present        Standard              No
1        Aubergine  Summer       Missing        Standard              No
2            Brown  Winter       Missing        Standard              No
3      Terra cotta    Fall       Present        Standard              No
4         Lavender  Summer       Present         Express              No
...            ...     ...           ...             ...             ...
3153         White  Summer       Missing  2-Day Shipping             Yes
3154  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3155     Aubergine  Winter       Present  2-Day Shipping             Yes
3156     Brick red    Fall       Missing  2-Day Shipping             Yes
3157     Aubergine  Winter       Present  2-Day Shipping             Yes

      Previous Purchases Payment Method Prev Purchase Group
0                      0    Credit Card                 Low
1                      0    Credit Card                 Low
2                      3    Credit Card                High
3                      0    Credit Card                 Low
4                      0    Credit Card                 Low
...                  ...            ...                 ...
3153                  11          Venmo                High
3154                   7          Venmo                High
3155                  20          Venmo                High
3156                   3          Venmo                High
3157                   2          Venmo                High

[3158 rows x 14 columns]

In [75]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

count_low_group = df[df['Prev Purchase Group'] == 'Low']['Previous Purchases'].value_counts()
print(count_low_group)

Previous Purchases
0    515
1    388
Name: count, dtype: int64

In [118]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

count_missing_high = df.loc[df['Prev Purchase Group'] == 'High']['Previous Purchases'].value_counts().get('Missing', 0)
count_present_high = df.loc[df['Prev Purchase Group'] == 'High']['Previous Purchases'].value_counts().get('Present', 0)
print(count_missing_high)
print(count_present_high)

0
0

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

The top three colors for Fall are brown, burnt orange, and terra cotta. The top three colors for Winter are black, burnt orange, and aubergine.

### Q2

What are the top three colors for Spring & Summer?

The top three colors for Spring are baby blue, white, and lavender. The top three colors for Summer are lavender, lemon yellow and baby blue.

### Q3

What is the most popular clothing item by season?

The most popular clothing item for the Fall is backpack, the Spring is running shoes, Summer is shorts, and Winter is leggings.

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

The p-value from the t-test is significant and therefore we can conclude that the null hypothesis was correct, users who use promo codes spend a lot more than those that don't use promo codes.

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

The group that is more likely to leave a review is the low group. There are more present reviews than missing reviews for thr low group. This tells me that the more someone purchaes, the less likely they are to leave reviews.